:root {
  --body-width: 400px;
  --body-height: 400px;
  --theme-color: rgb(81, 252, 90);
  --loader-fill-color: rgb(0, 255, 34);
  --loader-animation-duration: .4s;
}
@keyframes loaderAnimation {
  
  50% {
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
  }
}
@keyframes rgbFore {
  0% {
    color: red;
  }
  14% {
    color: yellow;
  }
  28% {
    color: lime;
  }
  44% {
    color: aqua;
  }
  58% {
    color: royalblue;
  }
  82% {
    color: magenta;
  }
  100% {
    color: red;
  }
}
@keyframes rotate {
  0% {
    border-color: red;
  }
  14% {
    border-color: yellow;
  }
  28% {
    border-color: lime;
  }
  44% {
    border-color: aqua;
  }
  58% {
    border-color: royalblue;
  }
  82% {
    border-color: magenta;
  }
  100% {
    border-color: red;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}
body {
  width: var(--body-width);
  height: var(--body-height);
  overflow: hidden;
  background-color: rgb(32, 32, 32);
}
.App {
  height: var(--body-height);
  width: var(--body-width);
  /* background-color: aqua; */
}
.loader {
  padding-top: 25px;
  margin-inline: auto;
  width: fit-content;
}
.loader div{
  color: #fff;
  background-color: var(--theme-color);
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-inline: .5px;
}
.loader #_a1 {
  animation: loaderAnimation var(--loader-animation-duration) infinite linear 0.2s;
  -webkit-animation: loaderAnimation var(--loader-animation-duration) infinite linear 0.2s;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.loader #_a2 {
  animation: loaderAnimation var(--loader-animation-duration) infinite linear 0.3s;
  -webkit-animation: loaderAnimation var(--loader-animation-duration) infinite linear 0.3s;
}
.loader #_a3 {
  animation: loaderAnimation var(--loader-animation-duration) infinite linear 0.4s;
  -webkit-animation: loaderAnimation var(--loader-animation-duration) infinite linear 0.4s;
}
.loader #_a4 {
  animation: loaderAnimation var(--loader-animation-duration) infinite linear 0.5s;
  -webkit-animation: loaderAnimation var(--loader-animation-duration) infinite linear 0.5s;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}
.loader #_a5 {
  animation: loaderAnimation var(--loader-animation-duration) infinite linear 0.6s;
  -webkit-animation: loaderAnimation var(--loader-animation-duration) infinite linear 0.6s;
}
.status {
  margin-block: auto;
  vertical-align:middle;
  position: relative;
  bottom: -35vh;
}
.status .text a, .status .text {

  color: var(--loader-fill-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  width: fit-content;
  margin-top: 55px;
  margin-inline: auto;
  text-align: center;
}
#test {
  color: #fff;
}
#provider {
  letter-spacing: 1px;
  animation: rgbFore 5s infinite linear 0s;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-animation: rgbFore 5s infinite linear 0s;
}
.loader-circle #block{
  margin-inline: auto;
  margin-block: auto;
  transition: 5s;
  width: 35px;
  height: 35px;
  /*background-color: aqua;
  */border: 5px solid white;
  animation: rotate 1s infinite linear 0s;
  border-bottom: none;
  border-right: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: rotate 1s infinite linear 0s;
  -webkit-transition: 5s;
  -moz-transition: 5s;
  -ms-transition: 5s;
  -o-transition: 5s;
}